<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Entry</title>
</head>
<body>
    <h2>Enter Food Data</h2>
    <form action="{% url 'food_entry' %}" method="post">
        
        <label id="food_name">Food Name:</label>
        <input type="text" name="food_name" id="food_name" required>
        
        <label id="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" required>

        <label id="expiry-date">Expiry Date:</label>
        <input type="date" id="expiry-date" name="expiry_date">

        <input type="submit" value="Submit">
    </form>
</body>
</html>
