{% extends "master.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Your Fridge</h1>

    <ul>

        <table style="width:100%">
            <tr>
              <td>Items</td>
              <td>Expiration Date</td>
              <td>Time Left</td>
            </tr>

            <tr>
            </tr>

          </table>

        <button>Add</button>
        <button>Delete</button>
        <button>Save</button>

        <!-- Pull each item from db here with dj-html to start-->
    </ul>
{% endblock %}