body {
    background-color: antiquewhite !important;
}

.main-table {
    padding-left: 0px;
}

.main-table table {
    padding-bottom: 2rem;
    border-color: transparent;
    --bs-table-hover-color: #198754;
}

.add-fridge {
    color: inherit; /* This makes the text color inherit from the parent element */
    text-decoration: none; /* This removes the underline */
}